body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}


/* 设置网页统一字体大小，行高，字体系列相关属性 */

body {
    font: 16px/1.5 "Helvetica Neue", Helvetica, Arical, sans-serif;
    color: #333;
}


/* 去除列表默认样式 */

ul,
li {
    list-style: none;
}


/* 去除默认倾斜效果 */

em,
i {
    font-style: normal;
}


/* 去除a下划线 */

a {
    text-decoration: none;
    color: #333;
}


/* 去除img默认下间隙 */

img {
    vertical-align: middle;
}


/* 去除input默认样式 */

input {
    border: none;
    outline: none;
    color: #333;
}


/* 左浮动 */

.fl {
    float: left;
}


/* 右浮动 */

.fr {
    float: right;
}


/* 双伪元素清除 */

.clearfix::before,
.clearfix::after {
    content: "";
    display: block;
}

.clearfix::after {
    clear: both;
}