/* 版心 */

.container {
    margin: 0 auto;
    width: 1240px;
}


/* 快捷菜单模块 */

.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut .container {
    height: 52px;
    /* background-color: pink; */
}

.shortcut ul li {
    float: left;
    line-height: 52px;
    color: #dcdcdc;
}

.shortcut ul li:nth-child(-n+6):after {
    content: '|';
    margin: 0 16px;
}

.shortcut ul li:last-child a::before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 16px;
    margin-top: -4px;
    margin-right: 8px;
    background-color: aqua;
    background: url(../images/sprites.png) -160px -70px;
    vertical-align: middle;
}

.shortcut ul a {
    font-size: 14px;
    color: #dcdcdc;
}


/* 导航模块 */

.main-nav {
    height: 130px;
    padding-top: 30px;
    /* 自动内减 */
    box-sizing: border-box;
    /* background-color: aqua; */
}

.main-nav .logo {
    width: 207px;
    height: 70px;
    margin-left: 25px;
    /* background-color: pink; */
}

.main-nav .logo a {
    display: block;
    height: 70px;
    background-image: url(../images/logo.png);
    background-size: contain;
    font-size: 0;
}

.main-nav ul {
    height: 70px;
    margin-left: 40px;
    /* background-color: plum; */
}

.main-nav ul li {
    float: left;
    margin-right: 48px;
    /* font-size: 19px; */
    line-height: 70px;
}

.main-nav li a:hover {
    color: #27ba9b;
    border-bottom: 1px solid #27ba9b;
    padding-bottom: 7px;
}


/* 搜索 */

.main-nav .search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    width: 18px;
    height: 18px;
    /* background-color: #000; */
    background: url(../images/sprites.png) -80px -70px;
}

.main-nav .search {
    position: relative;
    width: 172px;
    height: 30px;
    margin: 24px 0 0 34px;
    /* background-color: powderblue; */
}

.main-nav .search input {
    width: 172px;
    height: 30px;
    padding-left: 31px;
    border-bottom: 2px solid #e7e7e7;
}


/* 购物车 */

.main-nav .cart {
    position: relative;
    width: 23px;
    height: 23px;
    margin-top: 28px;
    margin-left: 15px;
    background-color: #000;
    background: url(../images/sprites.png) -120px -70px;
}

.main-nav .cart span {
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 10px 10px 7px 1px;
    background-color: red;
}


/* 底部模块 */


/* 服务模块 */

.service {
    /* background-color: rgb(160, 37, 37); */
    height: 298px;
    padding-top: 79px;
    box-sizing: border-box;
}

.service .userser,
.aboutus {
    /* background-color: pink; */
    width: 192px;
    height: 143px;
    margin: 0 59px;
    text-align: center;
}

.service .customer,
.feedback {
    width: 93px;
    height: 92px;
    /* background-color: rebeccapurple; */
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
}

.service .box .customer {
    margin-right: 6px;
}

.service .box .customer span::before {
    content: '';
    display: block;
    width: 29px;
    height: 27px;
    margin: 22px 32px 10px;
    background: url(../images/sprites.png) -250px -70px;
}

.service .box .feedback span::before {
    content: '';
    display: block;
    width: 29px;
    height: 27px;
    margin: 22px 32px 10px;
    background: url(../images/sprites.png) -350px -70px;
}

.service p {
    display: inline-block;
    width: 65px;
    height: 16px;
    font-size: 16px;
    margin-bottom: 35px;
    /* background-color: purple; */
    color: #999;
}

.service .install {
    width: 241px;
    height: 156px;
    margin-left: 34px;
    text-align: center;
    /* background-color: pink; */
}

.service .install>p {
    margin-bottom: 24px;
}

.service .box3 {
    /* width: 241px; */
    height: 116px;
}

.service .box3 .erwm {
    width: 116px;
    height: 116px;
    padding: 8px;
    border: 1px solid #dfdfdf;
    box-sizing: border-box;
    /* background-color: plum; */
}

.service .box3 .erwm img {
    width: 100px;
}

.box3 .app {
    width: 124px;
    margin-top: 16px;
}

.box3 .app p {
    width: 124px;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 26px;
}

.box3 .app .inpage {
    width: 103px;
    height: 32px;
    line-height: 32px;
    margin: 14px 0 0 18px;
    color: #fff;
    background-color: #27ba9b;
}

.service .phone {
    width: 312px;
    height: 189px;
    text-align: center;
    border-left: 2px solid #f4f4f4;
    /* background-color: aqua; */
}

.service .phone h2,
h3 {
    font-weight: normal;
    margin-top: 11px;
}


/* slogan */

.extra {
    background-color: #333;
    height: 342px;
}

.slogan {
    height: 172px;
    border-bottom: 1px solid #dfdfdf;
    box-sizing: border-box;
    /* background-color: aquamarine; */
}

.extra .slogan .price {
    float: left;
    width: 33.3%;
    height: 170px;
    line-height: 170px;
    text-align: center;
    /* background-color: beige; */
}

.extra .price span {
    width: 109px;
    height: 26px;
    font-size: 25px;
    color: #fff;
    display: inline-block;
}

.extra .price a::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 58px;
    margin-top: -11px;
    vertical-align: middle;
    background: url(../images/sprites.png) 0 0;
}


/* copyright */

.extra .copyright .about {
    margin-top: 40px;
    height: 60px;
    /* background-color: rgb(235, 36, 36); */
}

.copyright ul {
    width: 636px;
    margin-left: 310px;
    color: #dcdcdc;
    text-align: center;
}

.copyright ul li {
    color: #dcdcdc;
    float: left;
}

.copyright ul li:nth-child(-n+6):after {
    content: '|';
    margin: 0 10px 0;
}

.copyright ul a {
    color: #dcdcdc;
}

.copyright p {
    text-align: center;
    color: #dcdcdc;
}