.entry {
    height: 500px;
    background-color: #f5f5f5;
}

.entry .container {
    position: relative;
}

.entry .banner {
    height: 500px;
    background-color: blueviolet;
}

.entry .menu {
    position: absolute;
    top: 0;
    left: 0;
}

.entry .menu li {
    position: relative;
    padding-left: 56px;
    width: 251px;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0, 0, 0, .8);
    box-sizing: border-box;
}

.entry .menu li:hover {
    background-color: #27ba9b;
}

.entry .menu li::after {
    content: '';
    position: absolute;
    top: 19px;
    right: 19px;
    display: inline-block;
    width: 6px;
    height: 11px;
    background: url(../images/sprites.png) -80px -110px;
}

.entry .menu a {
    color: #fff;
}


/* 左右按钮 */

.entry .prev {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 260px;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: rgba(0, 0, 0, .4) url(../images/sprites.png) 13px -60px;
}

.entry .next {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    border-radius: 45px;
    background: rgba(0, 0, 0, .4) url(../images/sprites.png) -21px -60px;
}

.entry .indicator {
    position: absolute;
    width: 110px;
    height: 10px;
    bottom: 31px;
    left: 680px;
    /* background-color: rosybrown; */
}

.entry .indicator li {
    float: left;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .6);
}

.entry .indicator li.active {
    background-color: #fff;
}

.entry .indicator li:hover {
    cursor: pointer;
    background-color: #fff;
}

.entry .indicator li:last-child {
    margin-right: 0;
}

.new-goods {
    height: 520px;
    /* background-color: antiquewhite; */
}

.new-goods .goods-hd {
    height: 115px;
    line-height: 115px;
    /* background-color: aqua; */
}

.new-goods .goods-hd h2 {
    height: 115px;
    font-size: 29px;
    font-weight: normal;
    color: #333333;
}

.new-goods .goods-hd span {
    margin-left: 34px;
    font-size: 16px;
    font-weight: normal;
    color: #999999;
}

.new-goods .goods-hd a {
    font-size: 16px;
    font-weight: normal;
    color: #999999;
}

.new-goods .goods-hd a::after {
    content: '';
    display: inline-block;
    width: 7px;
    height: 13px;
    margin-left: 13px;
    vertical-align: middle;
    background: url(../images/sprites.png) 0 -110px;
}

.new-goods .goods-list {
    height: 405px;
    /* background-color: aquamarine; */
}

.new-goods .goods-list li {
    float: left;
    width: 304px;
    height: 405px;
    text-align: center;
    line-height: 1;
    margin-right: 8px;
    background-color: #f0f9f4;
    transition: all .5s;
}

.new-goods .goods-list li:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, .2);
    transform: translateY(-5px);
}

.new-goods .goods-list li:last-child {
    margin-right: 0;
}

.new-goods .goods-list li img {
    width: 100%;
}

.new-goods .goods-list li h3 {
    height: 40px;
    margin-top: 22px;
    font-size: 20px;
    font-weight: normal;
}

.new-goods .goods-list li p {
    font-size: 23px;
    font-weight: normal;
    color: #9a2e1f;
}

.new-goods .goods-list li span {
    font-size: 17px;
}