.xtx_body {
    padding: 30px 0 85px;
    background-color: #f5f5f5;
}

.xtx_body .container {
    display: flex;
}

.xtx_body .aside {
    width: 227px;
    height: 1348px;
    margin-right: 18px;
    background-color: rgb(204, 152, 74);
}


/* 主体部分 */

.xtx_body .main {
    flex: 1;
    min-height: 500px;
    /* background-color: blueviolet; */
}


/* 账户概览 */

.overview {
    display: flex;
    align-content: center;
    height: 132px;
    margin-bottom: 18px;
    padding: 20px 0;
    background-color: #fff;
}

.overview div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.overview div a {
    text-align: center;
    width: 64px;
    height: 53px;
    font-size: 15px;
}

.overview div img {
    width: 25px;
    margin-bottom: 15px;
}

.overview div a:last-child img {
    width: 18px;
    margin-bottom: 12px;
}

.overview div:first-child {
    border-right: 1px solid #f4f4f4;
}

.overview div span {
    height: 19px;
    font-size: 25px;
    color: #e05e30;
}


/* 公共样式 */

.pannel {
    padding: 28px 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.orders .pannel_tittle {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    height: 45px;
    font-size: 22px;
    color: #333;
}

.orders .pannel_tittle h4 {
    font-weight: normal;
}

.orders .pannel_tittle a {
    align-self: center;
    font-size: 16px;
    color: #999;
}


/* 公共样式 */


/* 订单：商品信息 */

.orders .pannel_goods {
    display: flex;
    width: 964px;
    height: 137px;
    margin-bottom: 20px;
    border: solid 1px #f4f4f4;
}

.orders .pannel_goods:last-child {
    margin-bottom: 0;
}

.pannel_goods .goods {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 585px;
    padding: 17px 81px 14px 12px;
    box-sizing: border-box;
}

.pannel_goods .goods img {
    width: 105px;
    height: 105px;
    margin-right: 10px;
}

.pannel_goods .goods .info {
    flex: 1;
    /* 溢出的时候显示省略号 */
    /* 因为弹性盒子的尺寸会被内容撑开 */
    width: 0;
    /* 省略号 */
}

.pannel_goods .goods .info h5 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 13px;
    color: #333333;
    /* 省略号 */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    /* 省略号 */
}

.pannel_goods .goods .info p {
    color: #999;
    font-size: 14px;
}

.pannel_goods .goods p {
    color: #e05e30;
}


/* 订单：价格信息 */

.pannel_goods .price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 196px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

.pannel_goods .price .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 57px;
}

.pannel_goods .price .box span {
    color: #9a2e1f;
}


/* 订单：付款信息 */

.pannel_goods .pay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
}

.pannel_goods .pay .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 56px;
    margin-top: 8px;
}

.pannel_goods .pay a {
    font-size: 14px;
}

.pannel_goods .pay a span {
    display: block;
    width: 100px;
    height: 30px;
    margin-bottom: 14px;
    text-align: center;
    line-height: 30px;
    background-color: #5eb69c;
    border-radius: 2px;
    color: #fff;
}